@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

body,
html {
  overflow-x: hidden;
  font-family: var(--font-montserrat);
}

h1,
h2,
h3 {
  font-family: var(--font-inter);
  font-size: 28px; /* Mobile default */
}
h4,
h5,
h6 {
  font-family: var(--font-inter);
  font-size: 20px;
}

/* Tablet screens */
@media (min-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 36px;
  }
  h4,
  h5,
  h6 {
    font-size: 20px;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  h1,
  h2,
  h3 {
    font-size: 48px;
  }
  h4,
  h5,
  h6 {
    font-size: 24px;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.move-left {
  animation: move-left 20s linear infinite;
  display: flex;
  gap: 2rem; /* space between cards */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-600px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.8s ease-out forwards;
}
